<div class="container" >
    <div class="row justify-content-center align-items-center mt-5">
      <h1 class="px-3">Eat Da Burger!</h1>
    </div>
</div>
<br><br>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <form class="col-6 form-inline mb-5"  id="add-burger">
      <div class="form-group text-center">
      <input type="text" class="form-control" id="burger-name" size="50" name="burger_name" placeholder="Add your burger here!"></input>
      <button type="submit" class="btn ml-5">Add Burger</button>
      </div>
     </form>
     
  </div>
</div>



<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-4 available">
		<h2 class="py-2 text-center">Available Burgers</h2>
		<ol class="list-group">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devour=false}}
        {{/unless}}
        {{/each}}
      </ol>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-4 devoured">
		<h2 class="py-2 text-center">Devoured Burgers</h2>
		<ol class="list-group">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-devoured devour=true}}
        {{/if}}
        {{/each}}
      </ol>
	</div>
	<div class="col-md-1"></div>
</div>


