<li class="list-group-item">
	<span class="delete"  data-id="{{this.id}}"
          data-newDevoured="{{devour}}">
	{{burger_name}}<i class="mx-5 fa fa-trash-alt" id="trash" aria-hidden="true"></i></span>
</li>