<li class="list-group-item">
	{{burger_name}}
	<span class="delete float-right" data-id="{{id}}" data-newDevoured="{{devour}}">
		<i class="mx-5 fa fa-trash" id="trash" aria-hidden="true"></i>
	</span>
</li>