<li class="list-group-item ">
	{{burger_name}}
	<span class="devour float-right" data-id="{{id}}" data-newDevoured="{{devour}}">
		<i class="mx-5 fa fa-cutlery" id="devour" aria-hidden="true"></i>
	</span>
</li>